
/* position: static */
p {
	position: static;
	margin-left: 10px;
	margin-right: 10px;
}

h1{
	margin-left: 10px;
	margin-right: 10px;
}


#container {
    border: solid;
    border-color: orange;
	width: 420px;
}

#container-columns {
    border: solid;
    border-color: orange;
    display: flex; 
    border: solid;
	background: #DCDCDC;
	font-size: 150%;
}

.containertwocols{
	width: 40%;
}

.containerthreecols{
	width: 60%;

}

.container2 {
	border:solid;
	border-width: 10px;
	border-color: black;
}

.container-content{
    width: 100%;
	position: relative;
	border: solid;
	background: #DCDCDC;
	font-size: 150%;
}

/* position: relative */
.p2{
	position: relative;
	left: 30px;
	top: 20px;
}

/* position: absolute */
.header{
	position: absolute;
	background-color: #808080;
	font-size: 200%;
   	width: auto;
   	height: 45px;
   	right: 0;

}

.header-fixed{
	position: fixed;
	font-size: 200%;
   	width: auto;
   	height: 45px;
	background-color: #808080;
	left:100px;
    top:100px;
}

.header-float{
	float: left;
	font-size: 150%;
    width: 100px;		
    height: 60px;
   	margin-left: 10px;
   	margin-top: 20px;
}

.twocols-1{
	float: left;
	width: 50%;
}

.twocols-2{
	float: left;
	width: 50%;
}

.threecols-1{
	float: left;
	width: 33%;
}

.threecols-2{
	float: left;
	width: 33%;
}

.threecols-3{
	float: left;
	width: 33%;
}